install
reboot
text
url --url http://yo.puppetlabs.lan/cent6latestserver-x86_64/RPMS.os/
lang en_US.UTF-8
keyboard us
skipx
cmdline
network --device eth0 --bootproto dhcp --hostname 'centos-test.angrydome.lan'
rootpw puppet 

firewall --disabled
#firewall --enabled --ssh
selinux --disabled
authconfig --enableshadow --enablemd5
timezone America/Los_Angeles
bootloader --location=mbr
zerombr
clearpart --all --initlabel
part /boot --fstype ext3 --size=250
part pv.2 --size=2048 --grow
volgroup VolGroup00 --pesize=32768 pv.2
logvol swap --fstype swap --name=SwapVol --vgname=VolGroup00 --size=2048 --grow --maxsize=2048
logvol / --fstype ext3 --name=RootVol --vgname=VolGroup00 --size=10240 --grow

repo --name=updates --baseurl=http://yo.puppetlabs.lan/cent6latestserver-x86_64/RPMS.updates/
repo --name=puppetenterprise --baseurl=http://master/el-6-x86_64/

%packages --nobase
-atk
-system-config-securitylevel-tui-1.6.29.1-5.el5.i386
-checkpolicy
-hicolor-icon-theme
-cups
-cups-libs
-cronie
-cronie-ancron
-crontabs
-ecryptfs-utils
-trousers
-fontconfig
-freetype
-libXft
-kudzu
-postfix
-sendmail
autofs
bind-utils
curl
man
mlocate
ntp
ntpdate
nfs-utils
openssh
openssh-clients
rsync
screen
selinux-policy
selinux-policy-targeted
setools
strace
tcpdump
telnet
vconfig
vim-enhanced
yum
wget

pe-puppet

#install needed utilities
#tomcat6
#httpd
#samba
#mysql-server

%post

echo "baseurl=http://yo.puppetlabs.lan/cent6latestserver-x86_64/RPMS.all" >> /etc/yum.conf
echo "baseurl=http://yo.puppetlabs.lan/cent6latestserver-x86_64/RPMS.os" >> /etc/yum.conf
echo "baseurl=http://yo.puppetlabs.lan/cent6latestserver-x86_64/RPMS.updates" >> /etc/yum.conf

cat > /etc/yum/pluginconf.d/fastestmirror.conf << __DISABLE_FASTEST
[main]
enabled=0
verbose=0
always_print_best_host = true
socket_timeout=3
#  Relative paths are relative to the cachedir (and so works for users as well
# as root).
hostfilepath=timedhosts.txt
maxhostfileage=10
maxthreads=15
#exclude=.gov, facebook
#include_only=.nl,.de,.uk,.ie
__DISABLE_FASTEST

#rm -rf /etc/yum.repos.d/*

curl -o /etc/yum.repos.d/puppetenterprise-el.repo http://master/puppetenterprise-el.repo
/opt/puppet/bin/puppet agent -t --environment=bootstrap --ssldir="/etc/puppetlabs/puppet/ssl" --certname="centos-test" --server=master

